{% extends "base.html" %}
{% block title %}Administrar{% endblock %}
{% block extra_style %}
    <style>
        body {
            padding-top: 70px;
        }
    </style>
{% endblock extra_style %}
{% block extra_script %}
    <script src="{{ url_for('static', filename='js/principal.js') }}"></script>
    <!-- Add the theme's stylesheet -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/quill.bubble.css') }}">
    <!-- Add FontAwesome -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/@fortawesome/fontawesome-free/css/all.min.css') }}">
    <!-- Add Quill -->
    <script src="{{ url_for('static', filename='utilidades-js/js/quill.js') }}"></script>
    <!-- Add Clipboard -->
    <script src="{{ url_for('static', filename='utilidades-js/js/clipboard.min.js') }}"></script>
{% endblock extra_script %}
{% block body %}

    <!-- Barra de navegación fija en la parte superior -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top shadow-sm">
        <div class="container-fluid">
            <!-- Logo o nombre de la aplicación (opcional) -->
            <a class="navbar-brand" href="#">Guiones</a>

            <!-- Botones en la barra de navegación -->
            <div class="d-flex">
                <!-- Botón para abrir el modal de Nuevo Guion -->
                <button type="button" class="btn btn-primary mr-2" data-toggle="modal"
                        data-target="#formularioGuionModal">
                    Nuevo Guion
                </button>

                <!-- Botón para abrir el modal de Agregar Graph -->
                <button type="button" class="btn btn-primary mr-2" data-toggle="modal"
                        data-target="#formularioGraphModal">
                    Agregar Graph
                </button>

                <button id="botonFlotante" class="btn btn-success mr-2">Agregar Nota</button>
            </div>
        </div>
    </nav>

    <!-- Modal Nuevo guion -->
    <div class="modal fade bd-example-modal-lg" id="formularioGuionModal" tabindex="-1" role="dialog"
         aria-labelledby="formularioGuionModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="formularioGuionModalLabel">Nuevo Guion</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form class="form-group" id="formularioGuion" onsubmit="guardarGuion(event)">
                        <input class="form-control" type="text" id="nombreGuion" placeholder="Nombre del Guion"
                               required><br>
                        <textarea class="form-control" id="descripcionGuion" placeholder="Descripción del Guion"
                                  required></textarea><br>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-outline-success" id="botonGuardarGuion" form="formularioGuion">
                        Crear Guion
                    </button>
                </div>
            </div>
        </div>
    </div>

    <div class="card shadow p-1 m-2 rounded">
        <div class="card-body">
            <ul id="listaGuiones"></ul>
        </div>
    </div>
    <!-- Formulario para agregar Notas -->
    <div id="formularioTextoContainer" class="card shadow p-1 m-2 rounded">
        <form class="form-group" id="formularioTexto" onsubmit="guardarTexto(event)">
            <div class="card-header">
                <h4>Agregar nota</h4>
            </div>
            <div class="card-body">

                <!-- Fila aparte para el select -->
                <div class="row">
                    <div class="col">
                        <label for="guion_id">Guion:</label>
                        <select class="form-control" id="guion_id">
                            <!-- Las opciones se llenarán dinámicamente con JavaScript -->
                        </select>
                    </div>
                </div>

                <!-- Campo oculto para el contenido -->
                <input type="hidden" id="contenido-hidden" name="contenido">

                <div class="row mt-2">
                    <div class="col-10">
                        <!-- Campo para el título -->
                        <div class="form-group">
                            <label for="titulo">Tipo:</label>
                            <input class="form-control" id="titulo" name="titulo" required>
                        </div>
                    </div>
                    <div class="col-2">
                        <!-- Campo para el número de nota -->
                        <div class="form-group">
                            <label for="numero_de_nota">Nota nro.:</label>
                            <input class="form-control" type="number" id="numero_de_nota" name="numero_de_nota">
                        </div>
                    </div>
                </div>

                <!-- Campo para el contenido -->
                <div class="form-group">
                    <label for="contenido">Copete/Contenido:</label>
                    <div id="contenido" style="height: 400px" class="form-control"></div>
                </div>

                <!-- Campo para el material -->
                <div class="form-group">
                    <label for="material">Codigo:</label>
                    <textarea class="form-control" id="material" name="material"></textarea>
                </div>


            </div>
            <div class="card-footer">
                <!-- Fila para los botones -->
                <div class="row">
                    <div class="col">
                        <button class="btn btn-outline-success" type="submit" id="botonGuardarTexto">Agregar Nota
                        </button>
                        <button class="btn btn-outline-danger" type="button" onclick="cancelarEdicion()"
                                id="botonCancelar" style="display: none;">Cancelar
                        </button>
                    </div>
                </div>
            </div>
        </form>
    </div>

    <!-- Modal para el formulario de Graph -->
    <div class="modal fade bd-example-modal-lg" id="formularioGraphModal" tabindex="-1" role="dialog"
         aria-labelledby="formularioGraphModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="formularioGraphModalLabel">Carga de Graphs</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form id="formularioGraph" onsubmit="guardarGraph(event)">
                        <!-- Campo oculto para el ID del graph -->
                        <input type="hidden" id="graph_id" value="">

                        <!-- Select para asociar a Texto -->
                        <div class="form-group mb-3">
                            <label for="texto_id">Nota:</label>
                            <select class="form-control" id="texto_id" required>
                                <!-- Las opciones se llenarán dinámicamente con JavaScript -->
                            </select>
                        </div>

                        <!-- Fila para Primera Línea y Entrevistado -->
                        <div class="row p-0 m-0">
                            <!-- Primera Línea -->
                            <div class="col-6 p-0 m-0">
                                <input type="text" class="form-control m-0" id="lugar" placeholder="Lugar">
                                <input type="text" class="form-control m-0" id="tema" placeholder="Tema">
                            </div>
                            <!-- Entrevistado -->
                            <div class="col-6 p-0 m-0">
                                <input type="text" class="form-control m-0" id="entrevistado"
                                       placeholder="Entrevistado">
                            </div>
                        </div>

                        <!-- Primera Línea -->
                        <div class="form-group p-0 m-0">
                            <input type="text" class="form-control m-0" id="primera_linea" placeholder="Primera línea">
                        </div>

                        <!-- Segunda Línea -->
                        <div class="form-group p-0 m-0">
                            <textarea class="form-control m-0" id="segunda_linea"
                                      placeholder="Segunda línea"></textarea>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <!-- Botón para enviar el formulario -->
                    <button type="submit" class="btn btn-outline-success" id="botonGuardarGraph" form="formularioGraph">
                        Agregar y cerrar
                    </button>
                    <button type="button" class="btn btn-outline-success" onclick="agregarNoCerrar(event)"
                            id="agregarNoCerrar">Agregar
                    </button>
                    <button type="button" class="btn btn-outline-danger" onclick="cancelarEdicionGraph()"
                            id="botonCancelarGraph" style="display: none;">Cancelar
                    </button>
                </div>
            </div>
        </div>
    </div>





    <!-- Guion -->
    <div class="card shadow p-1 m-2 rounded">
        <div class="card-body">
            <h3 id="encabezado"></h3>
            <table class="table table-responsive" id="tablaTextos">
                <thead class="thead-light">
                <tr>
                    <th scope="col">Tipo</th>
                    <th scope="col">Graf/Copete</th>
                    <th scope="col">Codigo</th>
                    <th scope="col">Nº</th>
                    <th scope="col">Acciones</th>
                </tr>
                </thead>
                <tbody>
                <!-- Las filas se llenarán dinámicamente con JavaScript -->
                </tbody>
            </table>
        </div>
    </div>

    <script>
        // Inicializar Quill en el campo "contenido"
        const quill = new Quill('#contenido', {
            theme: 'bubble',
            modules: {
                toolbar: [
                    ['bold', 'italic', 'underline', 'strike'],
                    [{'list': 'ordered'}, {'list': 'bullet'}],
                    [{'script': 'sub'}, {'script': 'super'}],
                    [{'size': ['small', false, 'large', 'huge']}],
                    [{'color': []}, {'background': []}],
                    [{'align': []}],
                    ['clean']
                ]
            },
            bounds: '#contenido', // Define el contenedor del editor
            height: '200px',
        });
    </script>
{% endblock body %}