{% extends "base.html" %}

{% block extratitle %} - SIGUIENTE{% endblock extratitle %}
{% block extra_style %}
    <style>
        html, body {
            height: 100%;
            margin: 0;
            display: flex;
            flex-direction: column;
        }

        #contenido-principal {
            flex: 1;
            display: flex;
            flex-direction: column;
        }

        #texto-contenido {
            flex: 1;
            overflow-y: auto;
        }

        #videoyaudio {
            position: sticky;
            bottom: 0;
            width: 100%;
            background: white; /* Opcional: evita que se superponga con el contenido */
        }

        #videoyaudio {
            display: flex;
        }

        #videoyaudio .col-6 {
            display: flex;
            flex-direction: column;
        }

        #videoyaudio .col-6 .card {
            flex: 1;
        }


    </style>
{% endblock extra_style %}
{% block extra_script %}
    <script src="{{ url_for('static', filename='js/siguiente.js') }}"></script>
{% endblock extra_script %}
{% block body %}
    <div id="contenido-principal">
        <div class="card shadow p-1 m-2 rounded">
            <div class="card-header d-flex justify-content-between align-items-center">
                <h1 id="texto-activo-numero-de-nota" class="m-0 text-danger" style="font-size: 6rem;"></h1>
                <h2 id="texto-activo-titulo" class="m-0"></h2>
            </div>
            <div class="card-body" id="texto-contenido">
                <h3 id="texto-activo-contenido"></h3>
            </div>
        </div>
    </div>

    <div class="row m-0" id="videoyaudio">
        <div class="col-6 p-0">
            <div class="card shadow p-1 rounded">
                <div class="card-body">
                    <h5><p id="texto-activo-material"></p></h5>
                </div>
            </div>
        </div>
        <div class="col-6 p-0">
            <div class="card shadow p-0 rounded">
                <div class="card-body text-center bg-warning d-flex align-items-center justify-content-center"
                     style="height: 100%;">
                    <h1 style="margin: 0;"><p id="texto-activo-musica"></p></h1>
                </div>
            </div>
        </div>
    </div>


{% endblock body %}